<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-warning ">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-5" routerLink="/">Shop 24x7</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fs-5" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fs-5" routerLink="/adminhome">Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fs-5" routerLink="/adminhome">Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fs-5" routerLink="/adminhome">Profile</a>
            </li>
          </ul>
          <form class="d-flex" action="/adminhome">
            <input class="form-control me-2" type="search" placeholder="Search Products" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" hidden>Search</button>
          </form>
          <a style="font-size:32px" class="fa link-dark mx-3" routerLink="/adminhome">&#xf07a;</a>
        </div>
      </div>
  </nav>
</body>