<body>
    <app-header></app-header>
    <!-- Carousel -->
    <div id="carouselExampleControls" class="carousel slide m-4 mx-auto bg-secondary" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src= {{mydata[1].Src}} class="d-block  w-50 mx-auto" alt="..." style="height: 50vh;">
          </div>
          <div class="carousel-item">
            <img src= {{mydata[2].Src}} class="d-block w-50 mx-auto" alt="..." style="height: 50vh;">
          </div>
          <div class="carousel-item">
            <img src= {{mydata[4].Src}} class="d-block w-50 mx-auto" alt="..." style="height: 50vh; ">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Catagoty Listing -->
    <div class="row row-cols-1 row-cols-md-3 g-3 m-3 bg-light">
        <div class="col">
          <div class="card w-50">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-pro-max-blue-select?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1631652955000" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Apple</h5>
              <a routerLink="/" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card w-50">
            <img src="https://image-us.samsung.com/SamsungUS/home/mobile/phones/galaxy-s/galaxy-s21/pdp/011421/PDP-P3-black-lockup-01-1600x1200.jpg?$product-details-jpg$" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">samsung</h5>
              <a routerLink="/" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card w-50">
              <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6428/6428997_sd.jpg;maxHeight=640;maxWidth=550" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Laptops</h5>
                <a routerLink="/" class="stretched-link"></a>
              </div>
            </div>
        </div>
    </div>
    <h5 class="ms-4 mt-4 mb-1">Top Products</h5>
    <!-- Listing of top 8 products -->
    <div class="row row-cols-1 row-cols-md-4 g-4   align-items-stretch">
      <div class="col align-items-stretch" *ngFor="let product of mydata">
        <div class="card container-fluid p-1 m-3 align-items-center justify-content-center d-flex" style="height: 40vh; width: 40vh;">
          <img src={{product.Src}} class="card-img-top" alt="...">
          <div class="card-img-overlay text-dark d-flex flex-column justify-content-end fs-5">{{product.Price | currency:'EUR'}}</div>
          <div class="card-img-overlay text-dark d-flex align-items-end justify-content-md-end"><button type="button" class="btn btn-primary btn-sm">Add to Cart</button></div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
</body>