<app-header></app-header>

<form [formGroup]="productForm" class="container" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="NameInput">Product Name</label>
    <input formControlName="name" type="text" class="form-control" id="NameInput" placeholder="Enter Product Name">
    <div *ngIf="productForm.controls['name'].invalid && (productForm.controls['name'].touched)" class="alert">
      <p class="text-danger" *ngIf="productForm.controls['name'].errors?.['required']"> Name is required</p>
    </div>
  </div>

  <div class="form-group">
    <label for="DepartmentInput">Product Department</label>
    <input formControlName="department" type="text" class="form-control" id="DepartmentInput" placeholder="Enter Product Department">
    <div *ngIf="productForm.controls['department'].invalid && (productForm.controls['department'].touched)" class="alert">
      <p class="text-danger" *ngIf="productForm.controls['department'].errors?.['required']"> Department is required</p>
    </div>
  </div>

  <div class="form-group">
    <label for="PriceInput">Product Price</label>
    <input formControlName="price" type="number" class="form-control" id="PriceInput" placeholder="Enter Product Price">
    <div *ngIf="productForm.controls['price'].invalid && (productForm.controls['price'].touched)" class="alert">
      <p class="text-danger" *ngIf="productForm.controls['price'].errors?.['required']"> Price is required</p>
    </div>
  </div>

  <div class="form-group">
    <label for="DiscountInput">Discount</label>
    <input formControlName="discount" type="number" class="form-control" id="DiscountInput" placeholder="Enter Discount Price">
    <div *ngIf="productForm.invalid && productForm.controls['discount'].touched ">
      <p class="text-danger" *ngIf="productForm.errors?.['priceChecked']"> Discount cannot be a higher price than the original price! </p>
    </div>
  </div>

  <div class="form-group">
    <label for="ImageInput">Image</label>
    <input formControlName="image" type="text" class="form-control" id="ImageInput" placeholder="Enter Product Image">
    <div *ngIf="productForm.controls['image'].invalid && (productForm.controls['image'].touched)" class="alert">
      <p class="text-danger" *ngIf="productForm.controls['image'].errors?.['required']"> Image is required</p>
    </div>
  </div>

  <div class="form-group">
    <label for="DescriptionInput">Product Description</label>
    <input formControlName="description" type="text" class="form-control" id="DescriptionInput" placeholder="Enter Product Description">
    <div *ngIf="productForm.controls['description'].invalid && (productForm.controls['description'].touched)" class="alert">
      <p class="text-danger" *ngIf="productForm.controls['description'].errors?.['required']"> Desc is required</p>
      <p class="text-danger" *ngIf="productForm.controls['description'].errors?.['minLength']"> yikes </p>
    </div>
  </div>

  <button id="add-new-button" [disabled]="productForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>

<app-footer></app-footer>
